@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }

    .menu-item-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .top-social {
        width: 262px;
        height: 56px;
    }
    .img-head,.header-content{
        width: 325px;
    }
    .header-continer{
        flex-direction: column;
    }
    .main-banner-2{
        flex-direction: column;
    }


/* <><><><><>< games container <><><><><>< */



.games-image{
    flex-direction: column;

}








.main-content{
    flex-direction: column;
}




}