@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        align-items: center;
    }
    .menu-item-container {

        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .top-social{
        margin-top: 15px;
        margin-bottom: 45px;
        width:248px;
    }
    ..social-img{
        width: 43px;
        height: 40px;
    }
    .header-continer{
        flex-direction: column;
        align-items: center;
    }
    .banner{
        flex-direction: column;
        align-items: center;
    }
    .header-content{
        flex-direction: column;
        align-items: center;
    }
    .description{
        flex-direction: column;
        align-items: center;
    }
}