@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }

    .menu-item-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .top-social {
        width: 262px;
        height: 56px;
    }
    .img-head,.header-content{
        width: 325px;
    }
    .header-continer{
        flex-direction: column;
    }
    .main-banner-2{
        flex-direction: column;
    }

.main-banner-heading-2{
    font-size: 24px;
    text-align: center;
}
.description-banner{
    text-align: center;
    font-size: 1rem;
}

.btn-1-banner{
    text-align: center;
    margin: 0 44px;
}

.heading-1 {
    color: #0B0223;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}

/* <><><><><>< games container <><><><><>< */



.games-image{
    flex-direction: column;

}
.games-head{
    color: #0B0223;
    font-size: 18px;
}
.funny-text{
    font-size: 18px;
    
}


.careers-section{
    flex-direction: column;
}


}