@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    display: flex;

    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* min-height: 50px; */
}

.logo-container {
    margin-left: 10px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 10px;
    width: 50%;
}

.logo-container img {
    width: 80px;
    height: 40px;
}

.logo-container p {
    text-align: center;

    font-size: 40px;
    font-weight: 700;

}

.logo-container span {
    color: #FF42A5;
}

.menu-item-container {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.menu-item-container a {
    /* padding: 1px; */
    margin: 10px 20px;
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.top-social {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
}

.social-img {

    width: 45px;
    height: 40px;
}

.header-continer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;

}



.img-head {
    display: flex;
    width: 410px;
    /* height: ; */
}

.img-head-2 {
    display: flex;
    width: 568px;
    height: 489px;
}


.heading-1 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;

}

.heading-2 {
    text-align: center;
    font-size: 95px;
    margin-top: 35px;

    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {

    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;

}

.btn-1 {
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    ;
    border: none;
    border-radius: 48px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-2 {
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

}


.main-banner-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    width: 100%;
}


.games-head {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.games-text {
    text-align: center;
}

.funny-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;


}

.games-head {
    padding-top: 30px;
}

.funny-descirption {
    padding-bottom: 25px;
}


.games-image {

    display: flex;
    justify-content: center;
    padding-left: 240px;
    padding-right: 240px;
    gap: 25px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;

}



.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    /* height:100%; */
    width: 100%;
    padding-top: 80px;
}

.main-content2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    height: 100%;
    width: 100%;
    padding-top: 105px;
}

.content-text {
    width: 40%;
}

.content-image {
    position: relative;
    top: 0;
    left: 0;
    width: 40%;
    gap: 29px;
}

.content-image2 {
    position: relative;
    top: 0;
    right: 0;
    width: 40%;
    gap: 29px;
}

.img1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
    width: 534px;
    height: 550px;


}

.img1-1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
    width: 534px;
    height: 550px
}

.img2 {

    position: absolute;
    top: 320px;
    left: -82px;
    border: 1px solid #000000;
    width: 218.5px;
    height: 265.083px;

}

.img2-2 {
    position: absolute;
    top: 320px;
    right: -82px;
    border: 1px solid #000000;
    width: 218.5px;
    height: 265.083px;
}

.main-content-text {
    color: #0B0223;
    text-align: right;
    font-size: 48px;
    font-weight: 700;

}

.main-content-text1 {
    color: #0B0223;
    text-align: left;
    font-size: 48px;
    font-weight: 700;

}

.main-content-text1 span {
    text-align: left;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-content-text span {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.content-description1 {
    color: #534C64;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}


footer {
    text-align: center;
    background-color: #3e7961;
    color: white;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding-top: 120px;

    margin-top: 50px;

}

.footer-logo {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;

}

.footer-logo img {
    width: 80px;
    height: 40px;
}

.footer-logo h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;

}

.footer-logo span {
    font-size: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-menu a {
    font-style: bold;
    padding: 20px;
    gap: 65px;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;

}

.social-icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 35px;
}

.social-icon img {
    width: 40px;
    height: 38px;

}

.footer-menu-2 {
    margin-top: 35px;
}

.footer-menu-2 a {
    font-style: bold;
    padding: 20px;
    gap: 65px;

    text-decoration: none;
    color: #FFFFFF;


}

.pre-footer {
    align-items: center;
    height: 250px;
}

.pre-frist-img {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;



}

.pre-second-img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;

}